USE [miniTaskdb]
GO
/****** Object:  Table [dbo].[task]    Script Date: 17/12/2025 17:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[task](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[status] [nvarchar](20) NULL,
	[create_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17/12/2025 17:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[create_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[task] ON 

INSERT [dbo].[task] ([id], [user_id], [title], [description], [status], [create_at]) VALUES (1, 1, N'comprar cafe', N'para poder programar', N'done', CAST(N'2025-12-08T21:07:59.127' AS DateTime))
INSERT [dbo].[task] ([id], [user_id], [title], [description], [status], [create_at]) VALUES (2, 1, N'leer documentacion', N'express y react', N'done', CAST(N'2025-12-08T21:07:59.127' AS DateTime))
INSERT [dbo].[task] ([id], [user_id], [title], [description], [status], [create_at]) VALUES (3, 1, N'test de postman', N'probar APIsss', N'pendiente', CAST(N'2025-12-09T16:38:46.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[task] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password_hash], [create_at]) VALUES (1, N'julio', N'$2b$10$Zg3iYOx0N2XxnlyOB.hT8.BT2UCYUVtWa4iVTLZubhHbiwK5Uoxwy', CAST(N'2025-12-08T21:07:55.757' AS DateTime))
INSERT [dbo].[users] ([id], [username], [password_hash], [create_at]) VALUES (2, N'test', N'$2b$10$Zg3iYOx0N2XxnlyOB.hT8.BT2UCYUVtWa4iVTLZubhHbiwK5Uoxwy', CAST(N'2025-12-15T22:08:55.740' AS DateTime))
INSERT [dbo].[users] ([id], [username], [password_hash], [create_at]) VALUES (3, N'testss', N'$2b$10$Zg3iYOx0N2XxnlyOB.hT8.BT2UCYUVtWa4iVTLZubhHbiwK5Uoxwy', CAST(N'2025-12-15T22:14:42.390' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[task] ADD  DEFAULT ('pendiente') FOR [status]
GO
ALTER TABLE [dbo].[task] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [create_at]
GO
ALTER TABLE [dbo].[task]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
