.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background: #2b4c8dff;
  margin: 2rem auto;
  border-radius: 12px;
  min-width: 120vh;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.namelogin{
  font-size: 2rem;
  color: black;
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.formlogin{
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;

}
.formlogin input{
  windth: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  width: 100%;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.formlogin input:focus{
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.3);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.btnlogin{
  padding: 12px;
  margin: 20px 0;
  width: 50%;
  background-color: #4884e4ff;
  color:white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;


}
.btnlogin:hover {
  background-color: #366ac1ff;
}

.linkregister{
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
  background-color: #4884e4ff;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  margin: 0 auto;
  
}
.linkregister:hover{
  text-decoration: underline;
}
